h1{
    text-align: center;
    color: blue;
}

/* body{
    background-image: url("./Ice_Grey_Taycan_RWD_002_4E9A2876.jpg");
} */



input {
    padding: 5px;
    border-color: rebeccapurple;
}
input[type="text"] {
    border: none;
    border-bottom: 2px solid rebeccapurple;
}
input[type="submit"] {
    color: white;
    background-color: rebeccapurple;
}
#block{
    width: 0px;
    height: 0px;
    background-color: chartreuse;
    border-top: 100px solid black;
    border-right: 100px solid #d31616;
    border-left: 100px solid yellow;
    border-bottom: 50px solid blue;
}
#radius{
    width: 100px;
    height: 100px;
    color: black;
    margin: 50px;
    padding: 20px;
    border:10px brown;
    background-color: cornsilk;
    border-radius: 50%;
}
#rec{
    height: 200px;
    width: 600px;
    background-color: lightcyan;
    display: inline-block;
    border:10px solid black;
    margin: 50px;
    padding: 50px;
}

#flag{
    height: 1000px;
    width: 1300px;
    display: flex;
}

#yellow{
    height: 1000px;
    flex: 1;
    background-color: yellow;
    margin-right: 100px;
}

#green{
    height: 1000px;
    flex: 1;
    background-color: green;
}
#red{
    height: 1000px;
    flex: 1;
    background-color: red;
}

#testpad {
    background-color: lightcyan;
    height: 100px;
    margin: 20px;
    padding: 20px;
}

#baby {
    background-color: chocolate;
    width: 300px;
    height: 100px;
    margin: 20px;
    position: fixed;
    left: 100px;
}