*{
    margin: 0px auto;
    padding: 0px;
}


body {
    display: flex;
    justify-content: center;
}
#content {
    width: 1200px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}
.columns1, .columns2 {
    background-color: crimson;
    margin: 10px;
}

.columns1 {
    flex: 1;
}

.columns2 {
    flex: 2;
}

.row1 {
    margin: 10px;
    border: 3px solid navy;
}

.listtitle {
    background-color: bisque;
    height: 50px;
    display: flex;
    align-items: center;
}

.listline {
    background-color: gainsboro;
    color: green;
    width: auto;
    padding: 10px;
}

